TOKEN="" # visit discord api
JOIN_MESSAGE="Hey! It looks like you need help!"
OWNERS=[664221806642593804]
PREFIX=['!', '.']
ACTIVITY="with logs📝"
ACTIVITY_TYPE="playing"
STATUS_TYPE="online"
ALEXFLIPNOTE_API= # visit ALEXFLIPNOTE's channel
VERSION=0.0.1
GIST_ID=
GIST_TOKEN=
NEWS_GUILD=
NEWS_TOKEN=
BOTSERVER=704609770169958440
MODS={"channelid": modsid, "channelid": modsid}
